body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f4f4f4;
  color: #222;
}

header {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

nav {
  background-color: #444;
  text-align: center;
  padding: 10px 20px;
  direction: rtl;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 10px;
  display: inline-block;
  border-radius: 4px;
}

nav a:hover {
  background-color: #0078d4;
  text-decoration: none;
  color: white;
 
}

main {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin-bottom: 60px;
  text-align: right;

}

ul, ol {
    direction: rtl;
    text-align: right;
    padding-right: 25px;
    padding-left: 0;
    list-style-position: inside;
}
 li{
    margin-bottom: 6px;
 }

.button {
  display: inline-block;
  padding: 8px 14px;
  background-color: #0078d4;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #005fa3;
}

.button-outline {
  display: inline-block;
  padding: 8px 14px;
  border: 2px solid #0078d4;
  color: #0078d4;
  text-decoration: none;
  border-radius: 4px;
}

.button-outline:hover {
  background-color: #0078d4;
  color: white;
}

.alert {
  background-color: #ffcccc;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.alert.error {
    background-color: #ffcccc;
    color: #a10000;
    border: 1px solid #a10000;
}
.alert.success {
    background-color: #ccffcc;
    color: #006600;
    border: 1px solid #006600;
}

.table-container {
  overflow-x: auto;
  margin-top: 10px;
}

.note {
  font-size: 0.9em;
  color: #555;
}
nav a.active {
  background-color: #0078d4;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
}
