<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اختيار الميزات بالخوارزمية الجينية</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>اختيار الميزات بالخوارزمية الجينية</h1>
    </header>

    
  <nav>
  <a href="{{ url_for('index') }}"
     class="{% if request.endpoint == 'index' %}active{% endif %}">الرئيسية</a>

  <a href="{{ url_for('upload') }}"
     class="{% if request.endpoint == 'upload' %}active{% endif %}">رفع ملف</a>

  <a href="{{ url_for('results') }}"
     class="{% if request.endpoint == 'results' %}active{% endif %}">النتائج</a>

  <a href="{{ url_for('compare') }}"
     class="{% if request.endpoint == 'compare' %}active{% endif %}">المقارنة</a>

  <a href="{{ url_for('docs') }}"
     class="{% if request.endpoint == 'docs' %}active{% endif %}">التوثيق</a>
  </nav>

    
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            
            {% for category, message in messages %}
                <div class="alert {{category}} ">{{message}}</div>
            {% endfor %}
           
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>مشروع مادة BIA601 - جامعة SVU</p>
    </footer>
    
<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>