{% extends "base.html" %}
{% block content %}
<section class="card">
    <h2>صفحة المقارنة</h2>
     <p>مقارنة النتائج الخوارزمية الجينية مع الطرق التقليدية</p>

     <table class="comparison-table">
        <thead>
            <tr>
                <th>المعيار</th>
                <th>الخوارزمية الجينية GA </th>
                <th>الطريقة التقليدية</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>عدد الميزات المختارة</td>
                <td>12</td>
                <td>25</td>
            </tr>
            <tr>
                <td>الدقة (%)</td>
                <td>90</td>
                <td>80</td>
            </tr>
            <tr>
                <td>زمن التنفيذ (ث)</td>
                <td>3.4</td>
                <td>2.8</td>
            </tr>
            <tr>
                <td>تحسين الأداء</td>
                <td colspan="2" >+4.2% باستخدام GA </td>
            </tr>
        </tbody>
     </table>
</section>
{% endblock %}